// jQuery v2.0.3
// Get the latest CDN link from http://codeorigin.jquery.com/
script(src='//codeorigin.jquery.com/jquery-2.0.3.min.js')

// Angular JS v1.0.8
// Get the latest CDN link from http://angularjs.org/
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js', type="application/javascript")

// Angular-UI Bootstrap v6.0 (Mimics Bootstrap v3.0)
// Get the latest CDN link from http://netdna.bootstrapcdn.com/
// Requires Bootstrap CSS and jQuery
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js')

// Bootstrap Javascript v3.0.0
//script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")