// Upgrade the packages below using bower.

// Angular-UI Bootstrap
script(src='//libs/bower_components/angular-bootstrap/ui-bootstrap.min.js', type="application/javascript")

// Angular JS
script(src='//libs/bower_components/angular/angular.min.js', type="application/javascript")

